.section{
    width: 48%;
    margin-right: 2%;
    margin-bottom: 10px;
    float:left;
    padding:5px;
    border: 1px solid black;
    border-radius: 10px;
}

.section select{
    margin-bottom: 4px;
}
.section input{
    margin-right: 5px;
}
            
body{
	overflow-y: scroll;
}

#scalesContainer{
    position: fixed;
    width: 30%;
    left: 35%;
    top: 30%;
    background-color: #FFFFFF;
	border: 5px solid black;
    padding: 10px;
    border-radius: 30px;
    display:none;
}

#languageChoice{
    position: absolute;
    top: 3px;
    right:20%;
}

#languageChoice a{
    margin-right: 5px;
}

p{
    text-align: justify;
}