#Activities .activity{
	background-color: #EF9999;
    list-style-type: none;
    border : 1px solid black;
    border-radius: 10px;
    padding: 2px;
    margin-bottom: 5px;
}

#Activities .activity >span{
    font-weight: bold;
}

#Activities .activity li:hover, #Activities .activity >span:hover{
    background-color: green;
}

#Activities >ul{
    padding-left:5px;
}

#ProfileAndContext{
    width : 39%;
}

#Rules{
    width : 39%;
}

#Activities{
    width : 16%;
}

.mains{
    /*width : 32%;*/
    float:left;
    padding:0.1%;
    margin:0.1%;
	margin-right: 1.2%;
    border : 1px dotted black;
}

#Rules .then >span, #Rules .else >span, #Rules .ifContainer{
    font-weight : bold;
    
}

#Rules .glyphicon-remove-circle{
    margin-left: 10px;
    margin-top: 2px;
    color: red;
    font-size: 20px;
}

#Rules h3{
    margin-top:2px;
}

#Rules .ruleContainer{
    background-color: #9999FF;
    border-radius: 10px;
    padding-right: 4px;
    padding-left: 4px;
}
